<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>The Note Taker </title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
            <h1>Create Your VERY OWN Todolist!</h1>
            <br> <br>
            <div class="center">
                <a href="/login" class="btn btn-primary"> Login</a>
                <a href="/signup" class="btn btn-primary"> Signup</a>
            </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>